---
const { image, title, rating = 5, text } = Astro.props;
---

<div
  class="w-60 sm:max-w-sm md:max-w-md lg:max-w-xs rounded-[32px] overflow-hidden shadow-lg border-4 border-orange-400 ml-10 mb-5"
>
  {
    image && (
      <img
        src={image}
        alt="Anmeldelse billede"
        class="w-full h-64 object-cover rounded-t-[32px]"
      />
    )
  }
  <div class="p-4">
    <div class="flex items-center space-x-1 mb-2">
      {
        [...Array(rating)].map(() => (
          <svg
            class="w-5 h-5 text-orange-400"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.122 3.448a1 1 0 00.95.69h3.631c.969 0 1.371 1.24.588 1.81l-2.938 2.134a1 1 0 00-.364 1.118l1.122 3.449c.3.921-.755 1.688-1.538 1.118l-2.938-2.134a1 1 0 00-1.175 0l-2.938 2.134c-.783.57-1.838-.197-1.538-1.118l1.122-3.449a1 1 0 00-.364-1.118L2.758 8.875c-.783-.57-.38-1.81.588-1.81h3.631a1 1 0 00.95-.69l1.122-3.448z" />
          </svg>
        ))
      }
    </div>
    {title && <h1 class=" text-orange-400  uppercase mb-2">{title}</h1>}
    {text && <p class="text-gray-800 text-sm whitespace-pre-line">{text}</p>}
  </div>
</div>
